div#historial-image-gallery {
    display: -webkit-inline-box!important;
}

div#historial {
    width: 67em;
    margin-left: 15.5%;
    text-align: left;
}

#historial .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: currentColor;
}

.itemHistorial img {
  width: 350px !important;
  padding: 2%;
  margin-left: 30%;
}

#historial-image-gallery .image-gallery {
    width: 29%;
    margin-left: 20%;
    margin-top: 0;
}
.image-gallery{
  margin: 0;
  width: 100%;
}

#view-buttons{
  padding-bottom: 100%;
}

img#especial-historial {
    width: 28%;
    margin-top: 0;
    padding: 0;
    margin-top: 0.5%;
}

