@import url('https://fonts.googleapis.com/css?family=PT+Sans');
#nos{
  width: 100%;
  top:20%;
  background-color: white;
}
h1{
  padding: 4px;
  font-family: 'PT Sans', sans-serif;
  color: #2C2C2C;
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

p{
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #696969;
  font-size: 18px;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}
img{
  width: 100%;
  text-align: center;
  padding-bottom: 10%;
}

img#nosotros-celular {
    width: 40%;
    padding: 0;
    float: left;
}

div#nosotros-content {
    display: inline-block;
}

p.nosotros-parrafo {
    padding: 0;
    margin-left: 39%;
    margin-right: 14%;
    margin-top: 7%;
    font-size: 2em;
    color: black;
}

div#nos h1 {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 7em;
    margin-top: -1%;
    padding: 0;
    margin-bottom: 0;
    padding-top: 5%;
    color: black;
}

span.nosotros-color {
    color: cadetblue;
}
