
.principal img{
padding: .5%;
}
#carousel-main {
    z-index: 2;
    position: relative;
    width: 100%;
    display: flex;
    margin-left: 3%;
}

.itemCaroucel{
    background-color: #272727;
    width: 100%;
}
@media (max-width: 600px) {
  #barraLateral{
    width: 40%;
    height: 100%;
  }
}
.carousel-main .itemCaroucel img{
  padding: 0;
  margin: 0;
}

h1{
  font-size: 50%;
}

#carousel-main .image-gallery {
    width: 72%;
    margin-left: 10%;
    margin-top: 6%;
}

#promocion-actual-text{
  margin-right: 10%;
}

img#image-special {
    width: 74%;
    margin-top: 8%;
    margin-right: 24%;
    height: 73.5%;
}

h1#promocion-especial-text {
    margin-right: 22%;
}