
#regis{
	background:#13232f;
	height:100%;
	width:34%;
	margin:10% auto;
	box-shadow:0 0px 9px 1px #333;
	opacity: 0.9;
	font-family: 'Roboto',sans-serif;
	margin-bottom: 0;
	margin-top: 2%;
}
#image{
	background-image: url('https://source.unsplash.com/QnjkbXywIyY/1600x1200');
	background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 900px) {
	#regis{
		 width:80%;
  }
	#cue{
		left: 10%;
	}
}

@media (max-width: 700px) {
	#regis{
		 width:100%;
  }
}

#registro{
	margin: 0;
	position: relative;
}

#tituloRegistro{
	color:#fff;
	position: relative;
	padding-top: 35px;
	margin:0;
	font-size: 300%;

}
#regis #cuenta{
	text-decoration: underline;
	color: #83C0FD;
	margin-left: 10%;
}

#regis a:hover{
	background-color: transparent;
	color:#fff;
}
#btnaceptar{
	margin-left: 25%;
	margin-bottom: 5%;
	background-color: #044A62;
  color: #fff;
	width: 50%;
	height: 30%;
  font-size: 3vw;
  margin-top: 10px;

}
#btnaceptar:hover{
	background-color: #fff;
	color: #044A62;

}
#h{
	color:#f4f4f4;
	text-align:center;
	padding:9%;
	font-size:150%;
	font-family:tahoma,"Roboto";
	background:#044A62;
}
.radio label,.checkbox label{
	color:#fff;
	margin-left: 25%;
	padding-top: 2%;
}
.checkbox input[type="checkbox"]{
	margin-left: -9%;
	margin-top:1%;
}

 #regis input[type=email],input[type=password],input[type=text]{


display:block;
width:70%;
margin:5% auto;
border:2px solid #ccc;
border-radius:5px;
padding:1.5%;
background:none;
color:#fff;

}
#regis input[type=email]:focus,input[type=password]:focus,input[type=text]:focus{
	margin:10px;
	display:block;
	width:70%;
	margin:5% auto;
	border:2px solid #83C0FD;
	border-radius:5px;
	padding:1.5%;
	background:#222;
	outline:none;
}

#regis p{
	font-size:14px;
	font-family:arial;
	color:#1ab188;
	text-align:right;
	padding-right:50px;
}
#res{
	width: 100%;
	margin-left: 15%;
	position: relative;
	padding-top: 10%;
}
#check{
position: absolute;
margin-left: -5%;
}
#cue{
	margin-left: 37%;
	text-decoration: underline;

}
#checkLabel{
	color: #5CC6EA;
	font-weight: bold;
	margin-left: 13%;
	padding-top: 7%;
}
#terminos{
	text-decoration: underline;
}
#regis a:hover{
	color: #5CC6EA;
}
