
div #servicios-imagen{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'PT Sans', sans-serif
}

div#servi{
  background-color: #2f2929;
}
ul#servicios-lista{
  list-style: none;
}

h3#servicios-titulo {
    font-size: 7em;
    margin-left: 10%;
    margin-top: 0;
    padding-top: 5%;
    font-family: 'PT Sans', sans-serif
}

ul#servicios-lista {
    list-style: none;
    font-size: 3em;
    margin-left: 10%;
    margin-bottom: 4%;
}

img#beacon-amarillo {
    width: 15%;
    position: absolute;
    margin-left: -5%;
  }

  img#beacon-verde {
    width: 17%;
    position: absolute;
    margin-left: 86%;
}
