#gallery img{

  width: 333px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#gallery img:hover{

    filter: grayscale(0%);

}
#gallery{
  width: 98em;
  text-align: center;
  background-color: black;
}
#galery #listaImagenes li{
  padding: 5%;
  text-decoration: none;
}

ul#listaImagenes {
    list-style: none;
}

ul.listaPromos {
    display: inline-flex;
    list-style: none;
    margin-right: 15%;
}


.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload {
  display: inline-block;
  top: 0;
  left: 0;
  padding: .5em .7em;
  color: white;
  background: rgb(100,200,200);
  font-weight: none;
}

.custom-file-upload:hover{
  display: inline-block;
  top: 0;
  left: 0;
  padding: .5em .7em;
  color: white;
  text-emphasis: none;
  background:#7EE8D6;
  cursor: pointer;
  font-weight: none;
}


.specialLink:active{
  background-color: blue;
}

div#slide-datos input[type='text']{
    padding: .5%;
    margin: 0;
    display:block;
    color:black;
    border-top: none;
    border-left: none;
    border-right: none;
}

div#slide-datos input[type='text']:focus{
    padding: .5%;
    margin: 0;
    color:black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #00A0AE;
    background-color: white;
    display:block;
}

div#slide-datos p {
    margin: 0;
    padding: 10px;
}

div#slide-datos{
  margin-left: 10%;
  margin-right: 65%;
}

div#slide-notas input[type='text'] {
}
div#text-field {
    margin-left: -23%;
}
button.buttonSubir{
  color: white;
  background: rgb(100,200,200);
  border: none;
  padding-bottom: 19.5px;
}

button.buttonSubir:hover{
  color: white;
  background:#7EE8D6;
  border: none;
  padding-bottom: 19.5px;
}

.imagenSubir {
    background-color: ghostwhite;
    display: table-caption;
    margin-left: 1%;
}
