#gallery img{

  width: 333px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#gallery img:hover{

    filter: grayscale(0%);

}
#gallery{
  width: 98em;
  text-align: center;
  background-color: black;
}
#galery #listaImagenes li{
  padding: 5%;
  text-decoration: none;
}

ul#listaImagenes {
    list-style: none;
}

ul.listaPromos {
    display: inline-flex;
}

input#inputSubir {
    width: 23%;
    margin: 0;
    border: 0;
}

.specialLink:active{
  background-color: blue;
}
